@mixin mapWidth($width) {
  width: floor($width)
}

.editor-page {
  background-image: url('../../granite.png');
  background-repeat: repeat;
  height: 100vh;
  h1 {
    color: gold;
    margin: 0;
    padding: 1rem;
    text-align: center;
  }
  .map-settings__button, .toggle-borders {
    color: gold;
    cursor: pointer;
    font-weight: bold;
    padding: 0.3rem 0.8rem;
    position: absolute;
    top: 5%;
  }
  .map-settings__button {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    left: 5%;
  }
  .toggle-borders {
    right: 5%;
  }
  .editor {
    margin-top: 2vh;
    .editor--fixed {
      align-items: center;
      display: flex;
      justify-content: space-around;
      .map-pane {
        background: black;
        height: 528px;
        max-height: 95vh;
        width: calc(95% - 300px);
        overflow: scroll;
        min-width: 600px;
        .map-pane--visible {
          display: flex;
          flex-wrap: wrap;
          height: 1280px;
          position: relative;
          width: 1280px;
        }
      }
      .tile-pane {
        position: relative;
        .tile-pane--tiles {
          background: black;
          height: 528px;
          left: 1rem;
          overflow-x: scroll;
          position: relative;
          width: 256px;
          .tile-pane--visible {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            width: 513px;
          }
        }
        .tile-pane__menu {
          display: flex;
          flex-direction: row-reverse;
          justify-content: flex-start;
          left: -7.9rem;
          position: absolute;
          top: 7.7rem;
          transform: rotate(-90deg);
          .tile-pane--option {
            border-radius: 10px 10px 0 0;
            cursor: pointer;
            font-weight: bold;
            padding: .1rem 0.5rem;
          }
          :nth-child(1) { background: red; color: white; }
          :nth-child(2) { background: blue; color: white; }
          :nth-child(3) { background: gold; color: black; }
          :nth-child(4) { background: green; color: black; }
        }
      }
    }
    .edit-tiles {
      background: grey;
      border: 3px solid darken(gold, 15%);
      color: darken(white, 5%);
      height: 272px;
      left: 1.5%;
      position: absolute;
      text-align: center;
      top: 10vh;
      width: 300px;
      z-index: 10;
      .edit-tile__tiles {
        padding: 1rem;
        div  {
          display: flex;
          justify-content: space-evenly;
        }
        .tile {
          outline: 1px solid black;
          outline-offset: -1px;
        }
        .tile--delete {
          outline: 1px solid red;
          
        }
      }
      .edit-tiles--buttons {
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
        width: 80%;
        .edit-tiles--button {
          background: blue;
          border-radius: 5px;
          cursor: pointer;
          padding: 0.5rem 1rem;
        }
      }
    }
    .map-dimensions {
      background: grey;
      height: 50px;
      margin: 16px auto;
      text-align: center;
      width: 33%;
      form {
        display: flex;
        justify-content: space-around;
        padding: 0.2rem 0;
        label {
          padding: 0.2rem 0 0;
        }
        input {
          margin: 0 1rem;
          width: 30%;
        }
      }
    }
    .tile {
      cursor: pointer;
      height: 32px;
      width: 32px;
    }
    .map-tile {
      position: absolute;
    }
  }
}