.editor-page {
  background-image: url('../../granite.png');
  background-repeat: repeat;
  height: 100vh;
  h1 {
    color: gold;
    margin: 0;
    padding: 1rem;
    text-align: center;
  }
  .map-settings__button, .toggle-borders {
    color: gold;
    cursor: pointer;
    font-weight: bold;
    padding: 0.3rem 0.8rem;
    position: absolute;
    top: 5%;
  }
  .map-settings__button {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    left: 5%;
  }
  .toggle-borders {
    right: 5%;
  }
  .editor {
    margin-top: 2vh;
    .editor--fixed {
      align-items: center;
      display: flex;
      justify-content: space-around;
      .map-pane {
        height: 528px;
        min-width: 600px;
        width: calc(95% - 300px);
        .map-scroll {
          color: white;
          cursor: pointer;
          position: relative;
        }
        .map-scroll-left, .map-scroll-right {
          background-image: url('../../images/small-arrow.png');
          height: 50px;
          position: absolute;
          top: 50%;
          width: 20px;
        }
        .map-scroll-up, .map-scroll-down {
          background-image: url('../../images/small-arrow.png');
          height: 50px;
          position: absolute;
          width: 20px;
        }
        .map-scroll-down { transform: rotate(-90deg);  }
        .map-scroll-right { transform: rotate(180deg); }
        .map-scroll-up { transform: rotate(90deg); }
        .map__display {
          background: black;
          height: 478px;
          margin: 40px;
          max-height: 1600px;
          max-width: 1600px;
          overflow: hidden;
          width: calc(95vw - 380px);
          .map__display--visible {
            display: flex;
            flex-wrap: wrap;
            height: 1600px;
            position: relative;
            width: 1600px;
          }
        }
      }
      .tile-pane {
        position: relative;
        .tile-pane--tiles {
          background: black;
          height: 528px;
          left: 1rem;
          overflow-x: scroll;
          position: relative;
          width: 256px;
          .tile-pane--visible {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            width: 513px;
          }
        }
        .tile-pane__menu {
          display: flex;
          flex-direction: row-reverse;
          justify-content: flex-start;
          left: -11.2rem;
          position: absolute;
          top: 11rem;
          transform: rotate(-90deg);
          .tile-pane--option {
            border-radius: 10px 10px 0 0;
            cursor: pointer;
            font-weight: bold;
            padding: .1rem 0.5rem;
          }
          :nth-child(1) { background: red; color: white; }
          :nth-child(2) { background: blue; color: white; }
          :nth-child(3) { background: gold; color: black; }
          :nth-child(4) { background: green; color: black; }
          :nth-child(5) { background: purple; color: white; }
          :nth-child(6) { background: darkgrey; color: black; }
        }
      }
    }
    .tile {
      cursor: pointer;
      height: 32px;
      width: 32px;
    }
    .map-tile {
      position: absolute;
    }
  }
}