.map-settings{
  .map-settings__menu {
    background: darken(gray, 10%);
    left: 5%;
    padding: 1rem;
    position: absolute;
    text-align: center;
    z-index: 10;
    .map-settings--dimensions {
      display: flex;
      justify-content: space-evenly;
    }
    .map-settings--change-map {
      padding: .5rem;
      .map-settings--row, .map-settings--column {
        cursor: pointer;
      }
      div:hover {
        font-weight: bold;
      }
      .map-settings--bold-padding {
        font-weight: bold;
        visibility: hidden;
      }
      input {
        margin: 0.2rem 0.5rem;
        width: 40px;
      }
    }
    .map-settings--close {
      display: flex;
      justify-content: space-evenly;
      .map-settings--button {
        background: white;
        border-radius: 5px;
        cursor: pointer;
        padding: 0.5rem 0.6rem;
      }
    }
  }
}