.map-view {
  height: 90vh;
  left: 5vw;
  overflow: scroll;
  position: absolute;
  top: 1vh;
  width: 90vw;
  z-index: 15;
  .map-view--visible {
    background: black;
    display: flex;
    flex-wrap: wrap;
    // height: 1600px;
    position: relative;
    // width: 1600px;
  }
}

.map-view--options {
  background: grey;
  border-radius: 5px;
  color: gold;
  display: flex;
  justify-content: space-evenly;
  left: 40vw;
  padding: 0.3rem 0;
  position: absolute;
  top: 92vh;
  width: 20vw;
  z-index: 10;
  .map-view--option {
    background: black;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem 1rem;
  }
}