.map-settings{
  .map-settings__menu {
    background: darken(gray, 10%);
    left: 5%;
    padding: 1rem;
    position: absolute;
    width: 20%;
    z-index: 10;
    .map-settings--dimensions {
      display: flex;
      justify-content: space-evenly;
    }
    .map-settings--change-map {
      padding: 1rem;
      .map-settings--row, .map-settings--column {
        cursor: pointer;
      }
    }
    .map-settings--close {
      display: flex;
      justify-content: space-evenly;
      .map-settings--button {
        background: white;
        border-radius: 5px;
        cursor: pointer;
        padding: 0.5rem 1rem;
      }
    }
  }
}