.tile {
  cursor: pointer;
  height: 32px;
  width: 32px;
}

.map-tile {
  position: absolute;
}

.castle { background-image: url('../../tiles/castle.png'); }
.mountains { background-image: url('../../tiles/mountain.png'); }
.woods { background-image: url('../../tiles/woods.png'); }
.paths { background-image: url('../../tiles/path.png'); }
.city { background-image: url('../../tiles/city.png') }
.cityii { background-image: url('../../tiles/city2.png')}

.tile0000, .tile0001, .tile0002, .tile0003, .tile0004, .tile0005, .tile0006, .tile0007, .tile0008, .tile0009, .tile0010, .tile0011, .tile0012, .tile0013, .tile0014, .tile0015,
.tile0100, .tile0101, .tile0102, .tile0103, .tile0104, .tile0105, .tile0106, .tile0107, .tile0108, .tile0109, .tile0110, .tile0111, .tile0112, .tile0113, .tile0114, .tile0115,
.tile0200, .tile0201, .tile0202, .tile0203, .tile0204, .tile0205, .tile0206, .tile0207, .tile0208, .tile0209, .tile0210, .tile0211, .tile0212, .tile0213, .tile0214, .tile0215,
.tile0300, .tile0301, .tile0302, .tile0303, .tile0304, .tile0305, .tile0306, .tile0307, .tile0308, .tile0309, .tile0310, .tile0311, .tile0312, .tile0313, .tile0314, .tile0315,
.tile0400, .tile0401, .tile0402, .tile0403, .tile0404, .tile0405, .tile0406, .tile0407, .tile0408, .tile0409, .tile0410, .tile0411, .tile0412, .tile0413, .tile0414, .tile0415,
.tile0500, .tile0501, .tile0502, .tile0503, .tile0504, .tile0505, .tile0506, .tile0507, .tile0508, .tile0509, .tile0510, .tile0511, .tile0512, .tile0513, .tile0514, .tile0515,
.tile0600, .tile0601, .tile0602, .tile0603, .tile0604, .tile0605, .tile0606, .tile0607, .tile0608, .tile0609, .tile0610, .tile0611, .tile0612, .tile0613, .tile0614, .tile0615,
.tile0700, .tile0701, .tile0702, .tile0703, .tile0704, .tile0705, .tile0706, .tile0707, .tile0708, .tile0709, .tile0710, .tile0711, .tile0712, .tile0713, .tile0714, .tile0715,
.tile0800, .tile0801, .tile0802, .tile0803, .tile0804, .tile0805, .tile0806, .tile0807, .tile0808, .tile0809, .tile0810, .tile0811, .tile0812, .tile0813, .tile0814, .tile0815,
.tile0900, .tile0901, .tile0902, .tile0903, .tile0904, .tile0905, .tile0906, .tile0907, .tile0908, .tile0909, .tile0910, .tile0911, .tile0912, .tile0913, .tile0914, .tile0915,
.tile1000, .tile1001, .tile1002, .tile1003, .tile1004, .tile1005, .tile1006, .tile1007, .tile1008, .tile1009, .tile1010, .tile1011, .tile1012, .tile1013, .tile1014, .tile1015,
.tile1100, .tile1101, .tile1102, .tile1103, .tile1104, .tile1105, .tile1106, .tile1107, .tile1108, .tile1109, .tile1110, .tile1111, .tile1112, .tile1113, .tile1114, .tile1115,
.tile1200, .tile1201, .tile1202, .tile1203, .tile1204, .tile1205, .tile1206, .tile1207, .tile1208, .tile1209, .tile1210, .tile1211, .tile1212, .tile1213, .tile1214, .tile1215,
.tile1300, .tile1301, .tile1302, .tile1303, .tile1304, .tile1305, .tile1306, .tile1307, .tile1308, .tile1309, .tile1310, .tile1311, .tile1312, .tile1313, .tile1314, .tile1315,
.tile1400, .tile1401, .tile1402, .tile1403, .tile1404, .tile1405, .tile1406, .tile1407, .tile1408, .tile1409, .tile1410, .tile1411, .tile1412, .tile1413, .tile1414, .tile1415,
.tile1500, .tile1501, .tile1502, .tile1503, .tile1504, .tile1505, .tile1506, .tile1507, .tile1508, .tile1509, .tile1510, .tile1511, .tile1512, .tile1513, .tile1514, .tile1515 {
  outline: 1px solid gray;
  outline-offset: -1px;
}

.tile0000 { background-position: 0% 0% }
.tile0001 { background-position: 6.67% 0% }
.tile0002 { background-position: 13.33% 0% }
.tile0003 { background-position: 20% 0% }
.tile0004 { background-position: 26.67% 0% }
.tile0005 { background-position: 33.33% 0% }
.tile0006 { background-position: 40% 0% }
.tile0007 { background-position: 46.67% 0% }
.tile0008 { background-position: 53.33% 0% }
.tile0009 { background-position: 60% 0% }
.tile0010 { background-position: 66.67% 0% }
.tile0011 { background-position: 73.33% 0% }
.tile0012 { background-position: 80% 0% }
.tile0013 { background-position: 86.67% 0% }
.tile0014 { background-position: 93.33% 0% }
.tile0015 { background-position: 100% 0% }
.tile0100 { background-position: 0% 6.67% }
.tile0101 { background-position: 6.67% 6.67% }
.tile0102 { background-position: 13.33% 6.67% }
.tile0103 { background-position: 20% 6.67% }
.tile0104 { background-position: 26.67% 6.67% }
.tile0105 { background-position: 33.33% 6.67% }
.tile0106 { background-position: 40% 6.67% }
.tile0107 { background-position: 46.67% 6.67% }
.tile0108 { background-position: 53.33% 6.67% }
.tile0109 { background-position: 60% 6.67% }
.tile0110 { background-position: 66.67% 6.67% }
.tile0111 { background-position: 73.33% 6.67% }
.tile0112 { background-position: 80% 6.67% }
.tile0113 { background-position: 86.67% 6.67% }
.tile0114 { background-position: 93.33% 6.67% }
.tile0115 { background-position: 100% 6.67% }
.tile0200 { background-position: 0% 13.33% }
.tile0201 { background-position: 6.67% 13.33% }
.tile0202 { background-position: 13.33% 13.33% }
.tile0203 { background-position: 20% 13.33% }
.tile0204 { background-position: 26.67% 13.33% }
.tile0205 { background-position: 33.33% 13.33% }
.tile0206 { background-position: 40% 13.33% }
.tile0207 { background-position: 46.67% 13.33% }
.tile0208 { background-position: 53.33% 13.33% }
.tile0209 { background-position: 60% 13.33% }
.tile0210 { background-position: 66.67% 13.33% }
.tile0211 { background-position: 73.33% 13.33% }
.tile0212 { background-position: 80% 13.33% }
.tile0213 { background-position: 86.67% 13.33% }
.tile0214 { background-position: 93.33% 13.33% }
.tile0215 { background-position: 100% 13.33% }
.tile0300 { background-position: 0% 20% }
.tile0301 { background-position: 6.67% 20% }
.tile0302 { background-position: 13.33% 20% }
.tile0303 { background-position: 20% 20% }
.tile0304 { background-position: 26.67% 20% }
.tile0305 { background-position: 33.33% 20% }
.tile0306 { background-position: 40% 20% }
.tile0307 { background-position: 46.67% 20% }
.tile0308 { background-position: 53.33% 20% }
.tile0309 { background-position: 60% 20% }
.tile0310 { background-position: 66.67% 20% }
.tile0311 { background-position: 73.33% 20% }
.tile0312 { background-position: 80% 20% }
.tile0313 { background-position: 86.67% 20% }
.tile0314 { background-position: 93.33% 20% }
.tile0315 { background-position: 100% 20% }
.tile0400 { background-position: 0% 26.67% }
.tile0401 { background-position: 6.67% 26.67% }
.tile0402 { background-position: 13.33% 26.67% }
.tile0403 { background-position: 20% 26.67% }
.tile0404 { background-position: 26.67% 26.67% }
.tile0405 { background-position: 33.33% 26.67% }
.tile0406 { background-position: 40% 26.67% }
.tile0407 { background-position: 46.67% 26.67% }
.tile0408 { background-position: 53.33% 26.67% }
.tile0409 { background-position: 60% 26.67% }
.tile0410 { background-position: 66.67% 26.67% }
.tile0411 { background-position: 73.33% 26.67% }
.tile0412 { background-position: 80% 26.67% }
.tile0413 { background-position: 86.67% 26.67% }
.tile0414 { background-position: 93.33% 26.67% }
.tile0415 { background-position: 100% 26.67% }
.tile0500 { background-position: 0% 33.33% }
.tile0501 { background-position: 6.67% 33.33% }
.tile0502 { background-position: 13.33% 33.33% }
.tile0503 { background-position: 20% 33.33% }
.tile0504 { background-position: 26.67% 33.33% }
.tile0505 { background-position: 33.33% 33.33% }
.tile0506 { background-position: 40% 33.33% }
.tile0507 { background-position: 46.67% 33.33% }
.tile0508 { background-position: 53.33% 33.33% }
.tile0509 { background-position: 60% 33.33% }
.tile0510 { background-position: 66.67% 33.33% }
.tile0511 { background-position: 73.33% 33.33% }
.tile0512 { background-position: 80% 33.33% }
.tile0513 { background-position: 86.67% 33.33% }
.tile0514 { background-position: 93.33% 33.33% }
.tile0515 { background-position: 100% 33.33% }
.tile0600 { background-position: 0% 40% }
.tile0601 { background-position: 6.67% 40% }
.tile0602 { background-position: 13.33% 40% }
.tile0603 { background-position: 20% 40% }
.tile0604 { background-position: 26.67% 40% }
.tile0605 { background-position: 33.33% 40% }
.tile0606 { background-position: 40% 40% }
.tile0607 { background-position: 46.67% 40% }
.tile0608 { background-position: 53.33% 40% }
.tile0609 { background-position: 60% 40% }
.tile0610 { background-position: 66.67% 40% }
.tile0611 { background-position: 73.33% 40% }
.tile0612 { background-position: 80% 40% }
.tile0613 { background-position: 86.67% 40% }
.tile0614 { background-position: 93.33% 40% }
.tile0615 { background-position: 100% 40% }
.tile0700 { background-position: 0% 46.67% }
.tile0701 { background-position: 6.67% 46.67% }
.tile0702 { background-position: 13.33% 46.67% }
.tile0703 { background-position: 20% 46.67% }
.tile0704 { background-position: 26.67% 46.67% }
.tile0705 { background-position: 33.33% 46.67% }
.tile0706 { background-position: 40% 46.67% }
.tile0707 { background-position: 46.67% 46.67% }
.tile0708 { background-position: 53.33% 46.67% }
.tile0709 { background-position: 60% 46.67% }
.tile0710 { background-position: 66.67% 46.67% }
.tile0711 { background-position: 73.33% 46.67% }
.tile0712 { background-position: 80% 46.67% }
.tile0713 { background-position: 86.67% 46.67% }
.tile0714 { background-position: 93.33% 46.67% }
.tile0715 { background-position: 100% 46.67% }
.tile0800 { background-position: 0% 53.33% }
.tile0801 { background-position: 6.67% 53.33% }
.tile0802 { background-position: 13.33% 53.33% }
.tile0803 { background-position: 20% 53.33% }
.tile0804 { background-position: 26.67% 53.33% }
.tile0805 { background-position: 33.33% 53.33% }
.tile0806 { background-position: 40% 53.33% }
.tile0807 { background-position: 46.67% 53.33% }
.tile0808 { background-position: 53.33% 53.33% }
.tile0809 { background-position: 60% 53.33% }
.tile0810 { background-position: 66.67% 53.33% }
.tile0811 { background-position: 73.33% 53.33% }
.tile0812 { background-position: 80% 53.33% }
.tile0813 { background-position: 86.67% 53.33% }
.tile0814 { background-position: 93.33% 53.33% }
.tile0815 { background-position: 100% 53.33% }
.tile0900 { background-position: 0% 60% }
.tile0901 { background-position: 6.67% 60% }
.tile0902 { background-position: 13.33% 60% }
.tile0903 { background-position: 20% 60% }
.tile0904 { background-position: 26.67% 60% }
.tile0905 { background-position: 33.33% 60% }
.tile0906 { background-position: 40% 60% }
.tile0907 { background-position: 46.67% 60% }
.tile0908 { background-position: 53.33% 60% }
.tile0909 { background-position: 60% 60% }
.tile0910 { background-position: 66.67% 60% }
.tile0911 { background-position: 73.33% 60% }
.tile0912 { background-position: 80% 60% }
.tile0913 { background-position: 86.67% 60% }
.tile0914 { background-position: 93.33% 60% }
.tile0915 { background-position: 100% 60% }
.tile1000 { background-position: 0% 66.67% }
.tile1001 { background-position: 6.67% 66.67% }
.tile1002 { background-position: 13.33% 66.67% }
.tile1003 { background-position: 20% 66.67% }
.tile1004 { background-position: 26.67% 66.67% }
.tile1005 { background-position: 33.33% 66.67% }
.tile1006 { background-position: 40% 66.67% }
.tile1007 { background-position: 46.67% 66.67% }
.tile1008 { background-position: 53.33% 66.67% }
.tile1009 { background-position: 60% 66.67% }
.tile1010 { background-position: 66.67% 66.67% }
.tile1011 { background-position: 73.33% 66.67% }
.tile1012 { background-position: 80% 66.67% }
.tile1013 { background-position: 86.67% 66.67% }
.tile1014 { background-position: 93.33% 66.67% }
.tile1015 { background-position: 100% 66.67% }
.tile1100 { background-position: 0% 73.33% }
.tile1101 { background-position: 6.67% 73.33% }
.tile1102 { background-position: 13.33% 73.33% }
.tile1103 { background-position: 20% 73.33% }
.tile1104 { background-position: 26.67% 73.33% }
.tile1105 { background-position: 33.33% 73.33% }
.tile1106 { background-position: 40% 73.33% }
.tile1107 { background-position: 46.67% 73.33% }
.tile1108 { background-position: 53.33% 73.33% }
.tile1109 { background-position: 60% 73.33% }
.tile1110 { background-position: 66.67% 73.33% }
.tile1111 { background-position: 73.33% 73.33% }
.tile1112 { background-position: 80% 73.33% }
.tile1113 { background-position: 86.67% 73.33% }
.tile1114 { background-position: 93.33% 73.33% }
.tile1115 { background-position: 100% 73.33% }
.tile1200 { background-position: 0% 80% }
.tile1201 { background-position: 6.67% 80% }
.tile1202 { background-position: 13.33% 80% }
.tile1203 { background-position: 20% 80% }
.tile1204 { background-position: 26.67% 80% }
.tile1205 { background-position: 33.33% 80% }
.tile1206 { background-position: 40% 80% }
.tile1207 { background-position: 46.67% 80% }
.tile1208 { background-position: 53.33% 80% }
.tile1209 { background-position: 60% 80% }
.tile1210 { background-position: 66.67% 80% }
.tile1211 { background-position: 73.33% 80% }
.tile1212 { background-position: 80% 80% }
.tile1213 { background-position: 86.67% 80% }
.tile1214 { background-position: 93.33% 80% }
.tile1215 { background-position: 100% 80% }
.tile1300 { background-position: 0% 86.67% }
.tile1301 { background-position: 6.67% 86.67% }
.tile1302 { background-position: 13.33% 86.67% }
.tile1303 { background-position: 20% 86.67% }
.tile1304 { background-position: 26.67% 86.67% }
.tile1305 { background-position: 33.33% 86.67% }
.tile1306 { background-position: 40% 86.67% }
.tile1307 { background-position: 46.67% 86.67% }
.tile1308 { background-position: 53.33% 86.67% }
.tile1309 { background-position: 60% 86.67% }
.tile1310 { background-position: 66.67% 86.67% }
.tile1311 { background-position: 73.33% 86.67% }
.tile1312 { background-position: 80% 86.67% }
.tile1313 { background-position: 86.67% 86.67% }
.tile1314 { background-position: 93.33% 86.67% }
.tile1315 { background-position: 100% 86.67% }
.tile1400 { background-position: 0% 93.33% }
.tile1401 { background-position: 6.67% 93.33% }
.tile1402 { background-position: 13.33% 93.33% }
.tile1403 { background-position: 20% 93.33% }
.tile1404 { background-position: 26.67% 93.33% }
.tile1405 { background-position: 33.33% 93.33% }
.tile1406 { background-position: 40% 93.33% }
.tile1407 { background-position: 46.67% 93.33% }
.tile1408 { background-position: 53.33% 93.33% }
.tile1409 { background-position: 60% 93.33% }
.tile1410 { background-position: 66.67% 93.33% }
.tile1411 { background-position: 73.33% 93.33% }
.tile1412 { background-position: 80% 93.33% }
.tile1413 { background-position: 86.67% 93.33% }
.tile1414 { background-position: 93.33% 93.33% }
.tile1415 { background-position: 100% 93.33% }
.tile1500 { background-position: 0% 100% }
.tile1501 { background-position: 6.67% 100% }
.tile1502 { background-position: 13.33% 100% }
.tile1503 { background-position: 20% 100% }
.tile1504 { background-position: 26.67% 100% }
.tile1505 { background-position: 33.33% 100% }
.tile1506 { background-position: 40% 100% }
.tile1507 { background-position: 46.67% 100% }
.tile1508 { background-position: 53.33% 100% }
.tile1509 { background-position: 60% 100% }
.tile1510 { background-position: 66.67% 100% }
.tile1511 { background-position: 73.33% 100% }
.tile1512 { background-position: 80% 100% }
.tile1513 { background-position: 86.67% 100% }
.tile1514 { background-position: 93.33% 100% }
.tile1515 { background-position: 100% 100% }